body {
background: rgb(187,187,187);
color: black;

}
header {
      text-align: center;
      background: black;
      color:rgb(207,2,44);
      font-size: 20px;
}
a{
color: rgb(242,22,67);


}
    .hi{
      display: inline;
      padding: 0px 10px 0px 10px;
    }
